---
import { SignedIn, SignedOut } from "astro-clerk-auth/components/control";
import { UserButton, SignIn } from "astro-clerk-auth/components/interactive";

---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Just a static traditional page for the home</h1>
		<SignedIn>
			<UserButton />
		</SignedIn>
	
		<SignedOut>
			<SignIn routing="hash" />
		</SignedOut>
	</body>
</html>
