---
import { SignedIn, SignedOut } from "astro-clerk-auth/components/control";
import { UserButton, SignIn } from "astro-clerk-auth/components/interactive";

const user  = await Astro.locals.currentUser()
const name = user?.firstName

---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Saas Template with Subdomains</title>
	</head>
	<body>
		<main class="prose mx-auto pt-12">
			<h1>This is the Home of the SaaS</h1>
		</main>
		<section class="mx-auto w-fit p-8">
			<SignedIn>
				<div class="text-center">
					<UserButton />
					<p>Hi, {name}! You're in.</p>
				</div>
			</SignedIn>
			<SignedOut>
				<SignIn routing="hash" />
			</SignedOut>
		</section>
	</body>
</html>
